<div class="row">
	<div class="small-12 column">
		<h2>{{ include.title }}</h2>
		<br>
		<h3> {{ include.author_list }} </h3>
		<br> 
		<h3> {{ include.aff }} </h3>
		<br> 
		{{ include.pub_in }}
		<br>
		<a href="{{ include.pdf_url }}"> [PDF]</a>
		{% if include.website %}
		<a href="{{ include.website }}"> [Website]</a>
		{% endif %}
		{% if include.bib %}
		<a href="{{ include.bib }}"> [Bibtex]</a>
		{% endif %}
		{% if include.code_url %}
		<a href="{{ include.code_url }}"> [Code]</a>
		{% endif %}
		{% if include.blog_post %}
		<a href="{{ include.blog_post }}"> [Blog Post]</a>
		{% endif %}
		{% if include.grant == 'MURI' %}
		| {{ include.grant }}
		{% endif %}
	</div>
  {% if include.img_path %}
    <div class="small-12 column">
      <a href="{{ include.pdf_url }}">
        <img src="../images/images_for_pub/{{ include.img_path }}" style="width: 100%">
      </a>
    </div>
  {% endif %}
</div>
