{% if include.name %}
<li>
  {% if include.website %}
    <a href="{{ include.website }}"{% if include.website contains 'http' %} target="_blank" rel="noopener"{% endif %}>{{ include.title }} {{ include.name }}</a>
  {% else %}
    {{ include.title }} {{ include.name }}
  {% endif %}
  {% if include.email %}<a href="{{ include.email }}" class="tvg-namelist__meta">[email]</a>{% endif %}
  {% if include.affil %}<span class="tvg-namelist__meta">({{ include.affil }})</span>{% endif %}
  {% if include.note %}<span class="tvg-namelist__meta">({{ include.note }})</span>{% endif %}
</li>
{% endif %}
