<div class="col-md-3 member">
{% if include.name %}
		  	<div class="row">
		  		{% if include.photo %}
		  			<img src="{{ include.photo }}" width="180" height="180">
		  		{% else %}
		  			<img src="/images/nobody.png" width="180" height="180">
		  		{% endif %}
		  	</div>
		  	<div  {% if include.person_style %} style="{{ include.person_style }}" {% endif %} >
				  	<div class="row" >
						{% if include.homepage %}
				  			<a href="{{ include.homepage }}">{{ include.name }}</a>
						{% else %}
							{{ include.name }}
						{% endif %}
				  	</div>
				  	<div class="row">
				  		{{ include.title }}
				  	</div>
			</div>
{% endif %}
</div>
