{% if include.name %}
<li class="tvg-person">
  <div class="tvg-person__photo">
    <img src="{% if include.photo %}{{ include.photo }}{% else %}/images/nobody.png{% endif %}"
         alt="{{ include.name | escape }}" loading="lazy" width="240" height="240">
  </div>

  {% if include.website %}
    <a class="tvg-person__name" href="{{ include.website }}"{% if include.website contains 'http' %} target="_blank" rel="noopener"{% endif %}>{{ include.name }}</a>
  {% else %}
    <span class="tvg-person__name">{{ include.name }}</span>
  {% endif %}

  {% if include.role and include.role != "" %}
    <span class="tvg-person__role">{{ include.role }}</span>
  {% endif %}

  {% if include.note and include.note != "NULL" and include.note != "" %}
    <span class="tvg-person__note">{{ include.note }}</span>
  {% endif %}

  {% if include.email %}
    <span class="tvg-person__links"><a href="{{ include.email }}">Email</a></span>
  {% endif %}
</li>
{% endif %}
