---
layout: default
format: page-fullwidth
# Don't index these pages dear Google.
noindex: true
---

{% if page.image.title %}

<div class="row t30" style="">
	<div class="small-12 columns">
		<img src="{{ site.urlimg }}{{ page.image.title }}" width="970" alt="{{ page.title | escape_once }}">
		{% if page.image.caption_url and page.image.caption %}
		<p class="text-right caption">
			<a href="{{ page.image.caption_url }}">{{ page.image.caption }}</a>
		</p>
		{% endif %}
	</div>
</div>
{% endif %}



<div class="row t30" style="">
	<center>
		<div class="medium-12 columns">
			<article>
				{% if page.pub_title %}
					<h2>{{ page.pub_title }}</h2>
				{% endif %}
				<be>
				<h3>
					{% for author in page.authors %}
						<a href="{{ author.homepage }}" style="margin-right: 3px"> {{ author.name }}<sup>{{ author.affiliation_id }}</sup> </a>
						&ensp;
					{% endfor %}
				</h3>
				<br>
				<h3>
					{% for aff in page.affiliations %}
						<sup>{{ aff.id }}</sup>{{ aff.name }} &ensp;
					{% endfor %}
				</h3>
				<h3>
					{% for link in page.links %}
						<a href="{{ link.link }}" style="margin-right: 3px">[{{ link.name }}]</a>
						&ensp;
					{% endfor %}
				</h3>
				{% if page.teaser %}
					{% if page.teaser.img_path %}
						<img src="page.teaser.img_path" style="width: 100%" >
					{% endif %}
					{% if page.teaser.caption %}
						{{ page.teaser.caption }}
					{% endif %}
				{% endif %}
				<hr>
				{{ content }}
			</article>
		</div><!-- /.medium-12.columns -->
	</center>
</div><!-- /.row -->
