---
layout: default
format: frontpage
---
{% if page.homepage == true %}
{% include _index_banner.html %}

{% assign pub_count = site.publications | size %}
{% assign alumni_count = site.alumni | size %}
{% assign former_count = site.former_members | size %}
{% assign past_count = alumni_count | plus: former_count %}

<section class="tvg-stats">
  <div class="tvg-container">
    <div class="tvg-stats__grid">
      <div class="tvg-stat">
        <span class="tvg-stat__value">2005</span>
        <span class="tvg-stat__label">Group founded</span>
      </div>
      <div class="tvg-stat">
        <span class="tvg-stat__value">{{ pub_count }}</span>
        <span class="tvg-stat__label">Publications</span>
      </div>
      <div class="tvg-stat">
        <span class="tvg-stat__value">{{ past_count }}+</span>
        <span class="tvg-stat__label">Alumni &amp; former members</span>
      </div>
      <div class="tvg-stat">
        <span class="tvg-stat__value">FRS</span>
        <span class="tvg-stat__label">Royal Society Fellow</span>
      </div>
    </div>
  </div>
</section>
{% endif %}

{{ content }}
