---
layout: default
format: post
---
<div class="tvg-section">
	<div class="tvg-container">
		<article itemscope itemtype="http://schema.org/Article"
		         class="{% if page.wide %}tvg-wide{% else %}tvg-prose{% endif %}{% if page.body_class %} {{ page.body_class }}{% endif %}">

			{% if page.image.title %}
			<figure>
				<img src="{{ site.urlimg }}{{ page.image.title }}" width="970" alt="{{ page.title | escape_once }}" itemprop="image">
				{% if page.image.caption_url and page.image.caption %}
				<figcaption class="tvg-figcaption"><a href="{{ page.image.caption_url }}">{{ page.image.caption }}</a></figcaption>
				{% elsif page.image.caption %}
				<figcaption class="tvg-figcaption">{{ page.image.caption }}</figcaption>
				{% endif %}
			</figure>
			{% endif %}

			<div itemprop="articleSection">
				{{ content }}
			</div>

			{% if page.show_meta == true %}
				{% include _meta_information.html %}
			{% endif %}

			{% if page.comments == true %}
				{% include _comments.html %}
			{% endif %}

			{% if page.slider %}
				{% include slider.html height="50" unit="%" transition="slide" duration="7" %}
			{% endif %}
		</article>
	</div>
</div>
